<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Esportive</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <% if (typeof googleSignIn !== 'undefined' && googleSignIn) { %>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <% } %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <% if (typeof customCSS !== 'undefined' && customCSS) { %>
    <link rel="stylesheet" href="/Esportive%20Web/css/<%= customCSS %>">
    <% } %>
</head>
<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : 'flex flex-col min-h-screen' %>">
    <%- body %>
    
    <% if (typeof customJS !== 'undefined' && customJS) { %>
    <script src="/Esportive%20Web/js/<%= customJS %>"></script>
    <% } %>
</body>
</html>